[submodule "nvim"]
	path = shared/config/nvim
	url = https://github.com/itsarminbabaei/nvim.git
[submodule "shared/config/nvim"]
	path = shared/config/nvim
	url = https://github.com/itsarminbabaei/nvim.git
