[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Armin Babaei
	email = armin.babaei@me.com
[merge]
  tool = lazygit
[core]
	editor = nvim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	graph = log --oneline --graph --all -20
[commit]
	template = /Users/itsarminbabaei/.gitmessage
